*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: monospace;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #0f2167;
}
.container{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;  
    flex-direction: column;
    gap: 30px;
    background: #3559E0;
    padding: 40px 60px;
}
h2{
    font-size: 3em;
    color: #FFECD6;
    text-transform:uppercase;
    letter-spacing: 0.1em
}
.reset{
    padding: 15px 20px;
    color: #0f2167;
    background: #FFECD6;
    border: none;
    font-size: 1.5em;
    letter-spacing: 0.1em;
    text-transform:uppercase;
    cursor: pointer;
    font-weight: 600;
}
.reset:focus{
    color: #FFECD6;
    background: #2440af;
}
.game{
    width: 430px;
    height: 430px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    transform-style: preserve-3d;
    perspective: 500px;
}
.item{
    position: relative;
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3em;
    background: #FFECD6;
    transform: rotateY(180deg);
    transition: 0.25s;
}
.item.boxOpen{
    transform: rotateY(0deg);
}
.item:after{
    content:'';
    position: absolute;
    inset: 0;
    background: #2440af;
    transition: 0.25s;
    /* opacity: 0.85; */
    transform: rotateY(0deg);
    backface-visibility: hidden;
}
.boxOpen:after,
.boxMatch:after{
    transform: rotateY(180deg);
}